<footer>

  <p>COPYRIGHT &copy; COPYRIGHT &copy; COPYRIGHT &copy; COPYRIGHT &copy; COPYRIGHT &copy; COPYRIGHT &copy; COPYRIGHT &copy; COPYRIGHT &copy; COPYRIGHT &copy; COPYRIGHT &copy; COPYRIGHT &copy; COPYRIGHT &copy; COPYRIGHT &copy; </p>
</footer>